feedparser==5.2.1
requests==2.19.1
webencodings==0.5.1
bleach==3.3.0
setuptools==40.8.0
chardet==3.0.4
six==1.11.0
prawcore==1.0.0
praw==6.0.0
idna==2.7
certifi==2018.4.16
html5lib==1.0.1
beautifulsoup4==4.7.1
termcolor==1.1.0
